<p style="color: green"><%= notice %></p>

<% content_for :title, "Users" %>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show", user %> |
      <%= link_to "Edit", edit_user_path(user) %> |
      <%= link_to "Destroy", user, method: :delete, data: { confirm: "Are you sure?" } %>
    </p>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>
<br>
<%= link_to "Home", root_path %>
