<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
    <br><br>
    <strong> Author:</strong>
    <%= book.author %>
    <br><br>
    <strong> Price:</strong>
    <%= number_to_currency(book.price) %>
    <br><br>
    <strong> Published Date:</strong>
    <%= book.published_date %>
  </p>
</div>
